{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div class="card">
    <div class="card-body mb-5">
    <h1 class="card-title mb-5 text-muted">Login</h1>
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success" value="Login" >Login</button>
        </form>
    </div>
    </div>
{% endblock %}